{% extends "base.html" %}

{% load static %}

{% block titulo %}
    <title>Inicio</title>
{% endblock %}


{% block contenido %}

<div>

    <br><br>

    <div class="banner">
        <img class="img-banner" src="../static/img/banner2.png" alt="Banner">
    </div>

    <div class="seccion-conocenos">

        <div class="inicio-preguntas">

            <div class="pregunta-info">
                <div class="div-texto columna-derecha">
                    <h3 class="titulo-pregunta">¿Qué es Nenisoft?</h3>
                    <p class="parrafo-info">
                        Nenisoft es una solución integral diseñada para transformar la administración de ventas informales. Nuestra aplicación web facilita la gestión eficiente de 
                        clientes, pedidos, ventas e inventario, todo en una plataforma amigable e intuitiva. Ya seas un emprendedor individual o una pequeña empresa, Nenisoft te 
                        brinda las herramientas necesarias para optimizar tu negocio, mejorar tu productividad y aumentar tus ingresos. Con Nenisoft, podrás enfocarte en lo que 
                        realmente importa: hacer crecer tu negocio y satisfacer a tus clientes.
                    </p>
                </div>
                <div class="icono-pregunta-info columna-izquierda">
                    <img class="iconos-img" src="../static/img/quienes.png" alt="¿Quiénes somos?">
                </div>
            </div>

            <div class="pregunta-info">
                <div class="div-texto columna-izquierda">
                    <h3 class="titulo-pregunta">Administración de Clientes</h3>
                    <p class="parrafo-info">
                        Gestiona toda tu base de datos de clientes de manera eficiente. Con nuestro sistema, podrás registrar y actualizar la información de tus clientes, mantener 
                        un historial de interacciones y ofrecer un servicio más personalizado.
                    </p>
                </div>
                <div class="columna-derecha">
                    <img class="div-captura-sombra" src="../static/img/clientes.png" alt="Administración de Clientes">
                </div>
            </div>

            <div class="pregunta-info">
                <div class="div-texto columna-derecha">
                    <h3 class="titulo-pregunta">Inventario Inteligente</h3>
                    <p class="parrafo-info">
                        Mantén tu inventario organizado y actualizado en tiempo real. Con nuestro sistema, podrás llevar un control preciso de tus existencias, recibir alertas 
                        de productos agotados y optimizar tu stock para satisfacer la demanda.
                    </p>
                </div>
                <div class="columna-izquierda">
                    <img class="div-captura-sombra" src="../static/img/productos.png" alt="Inventario Inteligente">
                </div>
            </div>

            <div class="pregunta-info">
                <div class="div-texto columna-izquierda">
                    <h3 class="titulo-pregunta">Gestión de Pedidos</h3>
                    <p class="parrafo-info">
                        Simplifica la administración de pedidos con nuestro sistema intuitivo. Registra nuevos pedidos, realiza un seguimiento de su estado y asegúrate de que 
                        cada transacción se procese sin contratiempos.
                    </p>
                </div>
                <div class="columna-derecha">
                    <img class="div-captura-sombra" src="../static/img/pedidos.png" alt="Gestión de Pedidos">
                </div>
            </div>

            <div class="pregunta-info">
                <div class="div-texto columna-derecha">
                    <h3 class="titulo-pregunta">Control de Ventas</h3>
                    <p class="parrafo-info">
                        Mantén un registro detallado de todas tus ventas en un solo lugar. Nuestro sistema te permite monitorear el desempeño de ventas, generar informes detallados 
                        y analizar las tendencias para tomar decisiones informadas. Registra las cuotas a pagar y lo montos restantes. Con Nenisoft no hay límites.
                    </p>
                </div>
                <div class="columna-izquierda">
                    <img class="div-captura-sombra" src="../static/img/ventas.png" alt="Control de Ventas">
                </div>
            </div>

        </div>      

    </div>

</div>



{% endblock %}