{% extends "base.html" %}

{% load static %}

{% block titulo %}
    <title>Inicio</title>
{% endblock %}


{% block contenido %}

<div>

    <br><br>

    <div class="banner">
        <img class="img-banner" src="../static/img/banner2.png" alt="Banner">
    </div>

    <div class="seccion-conocenos">

        <div class="inicio-preguntas">

            <div class="pregunta-info">
                <div class="div-texto columna-derecha">
                    <h3 class="titulo-pregunta">¿Qué es Nenisoft?</h3>
                    <p class="parrafo-info">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam veniam nobis magni dicta deserunt voluptatibus eligendi quaerat velit, dolorum magnam, error corrupti soluta voluptates minus? Aliquid consectetur cum facilis eligendi.
                    </p>
                </div>
                <div class="icono-pregunta-info columna-izquierda">
                    <img class="iconos-img" src="../static/img/quienes.png" alt="¿Quiénes somos?">
                </div>
            </div>

            <div class="pregunta-info">
                <div class="div-texto columna-izquierda">
                    <h3 class="titulo-pregunta">¿Cómo te ayudaremos a administrar tus ventas?</h3>
                    <p class="parrafo-info">
                       Mod ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi iusto eius inventore asperiores modi impedit omnis dicta enim obcaecati reiciendis neque perspiciatis suscipit, laborum maxime commodi magnam nesciunt debitis.
                    </p>
                </div>
                <div class="icono-pregunta-info columna-derecha">
                    <img class="iconos-img" src="../static/img/diferencia.png" alt="¿Qué nos diferencia?">
                </div>
            </div>

            <div class="pregunta-info">
                <div class="div-texto columna-derecha">
                    <h3 class="titulo-pregunta">¿Cuál es nuestro objetivo?</h3>
                    <p class="parrafo-info">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laudantium error explicabo facere asperiores earum molestiae reiciendis hic dolores quibusdam enim corrupti, voluptas reprehenderit ad id incidunt ducimus magni iure?
                    </p>
                </div>
                <div class="icono-pregunta-info columna-izquierda">
                    <img class="iconos-img" src="../static/img/vamos.png" alt="¿Hacia dónde vamos?">
                </div>
            </div>

            <div class="pregunta-info">
                <div class="div-texto columna-izquierda">
                    <h3 class="titulo-pregunta">¿Qué necesitamos para lograrlo?</h3>
                    <p class="parrafo-info">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim est quis nisi, fugit recusandae alias natus consequuntur ea nemo voluptatum accusantium asperiores repudiandae, eos nam laboriosam vitae numquam quidem ut.
                    </p>
                </div>
                <div class="icono-pregunta-info columna-derecha">
                    <img class="iconos-img" src="../static/img/cooperar.png" alt="¿Qué necesitamos para lograrlo?">
                </div>
            </div>

        </div>      

        <div class="div-MVO">
            <div class="div-MVO-txt">
                <h3 class="titulo-pregunta titulo-MVO">Misión</h3>
                <p class="parrafo-info parrafo-MVO">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus laboriosam error laudantium ducimus quisquam cupiditate rem hic alias nemo possimus perferendis, earum magni! Rerum, sed delectus error dolores quo architecto.
                </p>
            </div>
            <div class="div-MVO-txt">
                <h3 class="titulo-pregunta titulo-MVO">Visión</h3>
                <p class="parrafo-info parrafo-MVO">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quidem adipisci voluptas excepturi deleniti dolore labore at voluptate dolores repellendus repudiandae cupiditate, expedita inventore possimus fugit id autem perspiciatis consectetur?
                </p>
            </div>
        </div>
    
        <div class="div-obj">
            <div class="div-MVO-txt">
                <h3 class="titulo-pregunta titulo-MVO">Objetivos</h3>
                <p class="parrafo-info parrafo-MVO">
                    <ul>
                        <li class="lista-estilo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quidem adipisci voluptas excepturi deleniti dolore labore at voluptate dolores repellendus. </li>
                        <li class="lista-estilo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Q labore at voluptate dolores repellendusn.</li>
                        <li class="lista-estilo">Lorem ipsum dolor sit luptate dolores repellendus.</li>
                    </ul>
                </p>
            </div>
        </div>

    </div>

</div>



{% endblock %}