{% extends "base.html" %}

{% load static %}

{% block titulo %}
    <title>Planes</title>
{% endblock %}

{% block contenido %}

<div>

    <br><br>

    <div class="div-texto-planes">
        <h1 class="titulo">Planes</h1>

        <p>En Nenisoft, entendemos que cada emprendedor y pequeño negocio tiene necesidades únicas. Por eso, ofrecemos tres planes especialmente diseñados para ayudarte a 
            gestionar tus ventas de manera más eficiente. Ya sea que estés empezando o necesites herramientas más avanzadas, tenemos la solución adecuada para ti.
        </p>
    </div>    

    <div class="body-planes">
        <div class="cards">
            <label id="sent">
              <input type="checkbox" class="input-check"/>
              <article>
                <div class="front">
                  <span class="material-symbols-outlined"> $100 </span>
                  <var>Plan Básico</var>
                  <h3>Ideal para emprendedores que están comenzando.</h3>
                </div>
                <div class="back">
                  <p>Funciones:</p>
                  <ul>
                    <li>Gestión básica de clientes</li>
                    <li>Registro y seguimiento de pedidos</li>
                    <li>Control de ventas con informes básicos</li>
                    <li>Gestión de inventario básico</li>
                    <li>Soporte vía correo electrónico</li>
                  </ul>
                </div>
              </article>
            </label>
            <label id="leads">
              <input type="checkbox" class="input-check"/>
              <article>
                <div class="front">
                  <span class="material-symbols-outlined"> $200 </span>
                  <var>Plan Profesional</var>
                  <h3>Pequeños negocios en crecimiento optimizado.</h3>
                </div>
                <div class="back">
                  <p>Funciones:</p>
                  <ul>
                    <li>Todas las funciones del Plan Básico</li>
                    <li>Gestión avanzada de clientes con segmentación</li>
                    <li>Informes de ventas detallados y gráficos</li>
                    <li>Alertas de inventario en tiempo real</li>
                    <li>Integración con pasarelas de pago</li>
                    <li>Soporte prioritario vía chat en vivo</li>
                  </ul>
                </div>
              </article>
            </label>
            <label id="convos">
              <input type="checkbox" class="input-check"/>
              <article>
                <div class="front">
                  <span class="material-symbols-outlined"> $300 </span>
                  <var>Plan Avanzado</var>
                  <h3>Solución robusta para muy pequeñas empresas.</h3>
                </div>
                <div class="back">
                  <p>Funciones:</p>
                  <ul>
                    <li>Todas las funciones del Plan Profesional</li>
                    <li>Personalización del sistema según las necesidades del negocio</li>
                    <li>Gestión avanzada de inventario con previsión de demanda</li>
                    <li>Análisis y reportes personalizados</li>
                    <li>Soporte dedicado y consultoría personalizada</li>
                  </ul>
                </div>
              </article>
            </label>
          </div>
    </div>

</div>


{% endblock %}

