:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #0d4176;
    --gris: #e1e1e1;
    --gris3: #777574;
    --gris2: #B9B5B4;
    --blanco: #ffffff;
    --negro: #000000;
    --rosa: #f70672;
    --morado: #4154f1;
    --grisFondo: #e5e8ec;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}
.contenido{
    padding-bottom: 15rem;
}

/** Globales **/
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}
ul{
    font-family: var(--fuenteParrafos);
}

/** Utilidades **/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}
.centrar-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}
#logoAgua{
    width: 200px;
    height: 50px;
}

/** Header **/
.barra {
    padding-top: 4rem;
}
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
header{
    width: 100%;
    height: 80px;
    background-color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed; 
    top: 0; 
    z-index: 1000; 
}
.bars{
    display: none;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li a{
    display: block;
    color: var(--morado);
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 15px;
    transition: 0.2s;
    margin: 0 5px;
    font-weight: bold;
}
.nav-bar ul li a.active{
    color: var(--blanco);
    background-color: var(--morado);
}
.opsMoviles{
    display: block;
}
.opsOrdenadores{
    display: none;
}

@media (max-width: 768px) {
    header{
        padding: 0px 30px;
    }
    .bars{
        display: block;
        cursor: pointer;
    }
    .bars .line{
        width: 30px;
        height: 3px;
        background-color: var(--morado);
        margin: 6px 0px;
    }
    .nav-bar{
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: var(--grisFondo);
        transition: 0.5s;
        overflow: hidden;
        padding-right: 4rem;
    }
    .nav-bar.active{
        height: auto;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 10px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-bottom: 20px;
    }
}
@media (min-width: 769px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
    .opsMoviles{
        display: none;
    }
    .opsOrdenadores{
        display: block;
    }
}
.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--morado);
    transition: color 0.5s ease, font-size 0.3s ease; 
    border-radius: 20px; 
    padding: 10px; 
    opacity: 0.7;
    font-weight: bold;
}
.navegacion__enlace:hover {
    color: white; 
    background-color: var(--morado); 
    font-size: 2rem; 
    opacity: 0.7;
}
.submenu {
    display: none;
    position: absolute;
    background-color: #fff; /* Color de fondo del menú */
    border: 1px solid #ccc; /* Borde del menú */
    z-index: 1;
    border-radius: 15px;
}
.miCuenta:hover .submenu {
    display: block;
}


/**Footer**/
footer{
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--grisFondo);
    padding: 1px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1; /* Ajusta el z-index según sea necesario */
}
.footer .waves {
    position: absolute; /* Cambia la posición a absoluta */
    top: 0; /* Ajusta según sea necesario */
    left: 0; /* Ajusta según sea necesario */
    width: 100%; /* Ajusta según sea necesario */
    height: 100px; /* Ajusta según sea necesario */
    z-index: 0; /* Establece un z-index menor */
}
footer .iconos-social,
footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    flex-wrap: wrap;
    padding-right: 4rem;
}
footer .iconos-social li,
footer .menu li{
    list-style: none;
}
footer .iconos-social li a,
footer .menu li a{
    font-size: 2rem;
    color: var(--morado);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .iconos-social li a:hover{
    transform: translateY(-10px);
}
footer .menu li a{
    font-size: 1.7rem;
    color: var(--morado);
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
}
footer .menu li a:hover{
    transform: translateY(-10px);
}
footer p{
    color: var(--morado);
    font-size: 1.3rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave2.png);
    background-size: 1000px 100px;
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}
@keyframes animateWave_02{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}



/**Inicio**/
.banner{
    width: 100%;
    height: auto;
}
.img-banner{
    width: 100%;
}
.seccion-conocenos{
    padding-top: 30px;
    padding-left: 4rem;
    padding-right: 4rem;
}
.pregunta-info{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 5rem;
}

.titulo-pregunta{
    color: var(--primario);
    font-size: 3rem;
}
.icono-pregunta-info {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: var(--morado);
    height: 220px;
    width: 220px;
    border-radius: 100%;
    opacity: 0.7;
    margin-left: 4rem;
}
.iconos-img{
    width: 150px;
    height: 150px;
}
.txt-resaltado{
    font-weight: bold;
    color: var(--rosa);
}
.div-MVO{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 3rem;
}
.lista-estilo{
    list-style: inside;
    padding-left: 0px;
    font-size: 1.5rem;
}
.titulo-MVO, .parrafo-MVO{
    text-align: center;
}
@media (min-width: 768px) {
    .pregunta-info{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 3rem;
        margin-bottom: 5rem;
        align-items: center; /* Centramos verticalmente los elementos */
        grid-template-areas:
            'izq der';
    }
    .columna-izquierda{
        grid-area: izq;
    }
    .columna-derecha{
        grid-area: der;
    }
    .icono-pregunta-info {
        margin-left: 0;
    }
}
@media (max-width: 768px){
    .div-MVO{
        grid-template-columns: auto;
    }
}

/*Login*/
.card {
    width: 70%; /* Ajusta el ancho de la tarjeta */
    margin: 0 auto; /* Centra la tarjeta horizontalmente */
    overflow: hidden;
    position: relative;
    z-index: 3;
    padding: 50px 30px 50px;
    border-radius: 24px;
    background: #ffffff;
    text-align: center;
    box-shadow: 0px 0px 13px 5px rgba(224,224,224,1);

}
.card h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 38px;
    color: rgb(0 0 0 / 38%);
}

.form {
    margin: 0 0 44px;
    display: grid;
    gap: 12px;
}

.form input {
    width: 100%;
    height: 56px;
    border-radius: 28px;
    font-size: 16px;
    font-family: inherit;
    border: 0;
    padding: 0 24px;
    color: #222222;
    background: #ededed;
}

.form input::placeholder {
    color: rgb(0 0 0 / 28%);
}

.form button {
    width: 100%;
    height: 56px;
    border-radius: 28px;
    font-size: 16px;
    font-family: inherit;
    border: 0;
    color: #f9f9f9;
    background: var(--morado);
    display: grid;
    place-items: center;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button:hover {
    opacity: 0.9; /* Color de fondo al pasar el mouse */
}

@media (min-width: 500px) {
    .card {
        margin: 0 auto; /* Asegura que la tarjeta se centre en pantallas anchas también */
        width: 360px; /* Define un ancho fijo */
    }
}
.usr{
    height: 100px;
    width: 100px;
}

.mensaje{
    color: var(--gris3);
}
