:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #0d4176;
    --gris: #e1e1e1;
    --gris3: #777574;
    --gris2: #B9B5B4;
    --blanco: #ffffff;
    --negro: #000000;
    --rosa: #f70672;
    --morado: #4154f1;
    --grisFondo: #e5e8ec;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}
.contenido{
    padding-bottom: 15rem;
}

/** Globales **/
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}
ul{
    font-family: var(--fuenteParrafos);
}

/** Utilidades **/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}
.centrar-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}
#logoAgua{
    width: 200px;
    height: 50px;
}

/** Header **/
.barra {
    padding-top: 4rem;
}
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
header{
    width: 100%;
    height: 80px;
    background-color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed; 
    top: 0; 
    z-index: 1000; 
}
.bars{
    display: none;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li a{
    display: block;
    color: var(--morado);
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 15px;
    transition: 0.2s;
    margin: 0 5px;
    font-weight: bold;
}
.nav-bar ul li a.active{
    color: var(--blanco);
    background-color: var(--morado);
}
.opsMoviles{
    display: block;
}
.opsOrdenadores{
    display: none;
}

@media (max-width: 768px) {
    header{
        padding: 0px 30px;
    }
    .bars{
        display: block;
        cursor: pointer;
    }
    .bars .line{
        width: 30px;
        height: 3px;
        background-color: var(--morado);
        margin: 6px 0px;
    }
    .nav-bar{
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: var(--grisFondo);
        transition: 0.5s;
        overflow: hidden;
        padding-right: 4rem;
    }
    .nav-bar.active{
        height: auto;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 10px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-bottom: 20px;
    }
}
@media (min-width: 769px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
    .opsMoviles{
        display: none;
    }
    .opsOrdenadores{
        display: block;
    }
}
.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--morado);
    transition: color 0.5s ease, font-size 0.3s ease; 
    border-radius: 20px; 
    padding: 10px; 
    opacity: 0.7;
    font-weight: bold;
}
.navegacion__enlace:hover {
    color: white; 
    background-color: var(--morado); 
    font-size: 2rem; 
    opacity: 0.7;
}
.submenu {
    display: none;
    position: absolute;
    background-color: #fff; /* Color de fondo del menú */
    border: 1px solid #ccc; /* Borde del menú */
    z-index: 1;
    border-radius: 15px;
}
.miCuenta:hover .submenu {
    display: block;
}


/**Footer**/
footer{
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--grisFondo);
    padding: 1px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1; /* Ajusta el z-index según sea necesario */
}
.footer .waves {
    position: absolute; /* Cambia la posición a absoluta */
    top: 0; /* Ajusta según sea necesario */
    left: 0; /* Ajusta según sea necesario */
    width: 100%; /* Ajusta según sea necesario */
    height: 100px; /* Ajusta según sea necesario */
    z-index: 0; /* Establece un z-index menor */
}
footer .iconos-social,
footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    flex-wrap: wrap;
    padding-right: 4rem;
}
footer .iconos-social li,
footer .menu li{
    list-style: none;
}
footer .iconos-social li a,
footer .menu li a{
    font-size: 2rem;
    color: var(--morado);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .iconos-social li a:hover{
    transform: translateY(-10px);
}
footer .menu li a{
    font-size: 1.7rem;
    color: var(--morado);
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
}
footer .menu li a:hover{
    transform: translateY(-10px);
}
footer p{
    color: var(--morado);
    font-size: 1.3rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave2.png);
    background-size: 1000px 100px;
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}
@keyframes animateWave_02{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}



/**Inicio**/
.banner{
    width: 100%;
    height: auto;
}
.img-banner{
    width: 100%;
}
.seccion-conocenos{
    padding-top: 30px;
    padding-left: 4rem;
    padding-right: 4rem;
}
.pregunta-info{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 5rem;
}

.titulo-pregunta{
    color: var(--primario);
    font-size: 3rem;
}
.icono-pregunta-info {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: var(--morado);
    height: 220px;
    width: 220px;
    border-radius: 100%;
    opacity: 0.7;
    margin-left: 4rem;
}
.iconos-img{
    width: 150px;
    height: 150px;
}
.txt-resaltado{
    font-weight: bold;
    color: var(--rosa);
}
.div-MVO{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 3rem;
}
.lista-estilo{
    list-style: inside;
    padding-left: 0px;
    font-size: 1.5rem;
}
.titulo-MVO, .parrafo-MVO{
    text-align: center;
}
@media (min-width: 768px) {
    .pregunta-info{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 3rem;
        margin-bottom: 5rem;
        align-items: center; /* Centramos verticalmente los elementos */
        grid-template-areas:
            'izq der';
    }
    .columna-izquierda{
        grid-area: izq;
    }
    .columna-derecha{
        grid-area: der;
    }
    .icono-pregunta-info {
        margin-left: 0;
    }
}
@media (max-width: 768px){
    .div-MVO{
        grid-template-columns: auto;
    }
}

/**Productos**/
.seccion-productos{
    padding-left: 4rem;
    padding-right: 4rem;
}
.productos {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap: 10px; 
    margin-bottom: 4rem; 
}
.imagen-producto{
    padding: 5px;
}
.img-producto {
    width: 300px; 
    height: 300px; 
}
.info-producto > * {
    margin-bottom: 1px; /* Espacio entre cada elemento */
}
.titulo-producto{
    font-size: 3rem;
    color: var(--primario);
}
.precio-prodcuto{
    font-size: 3rem;
    color: var(--rosa);
}
.descripcion-producto{
    font-size: 1.5rem;
}
.centrar-btn{
    padding-top: .5rem;
}
.btn-pedir{
    font-size: 5rem;
}
@media only screen and (max-width: 768px) {
    .productos {
        grid-template-columns: 1fr; /* Una sola columna */
    }
    .imagen-producto{
        justify-self: center;
    }
    .centrar-btn{
        text-align: center;
    }
}

/**Pedidos**/
.btn-enviar-pedido{
    width: 100px;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    height: auto;
}
.btn-confirmar{
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    height: 4rem;
    width: 7rem;
}
.btn-Si{
    background-color: var(--rosa);
    color: white;
}
.btn-No{
    background-color: var(--gris3);
    color: white;
}
.btn-Si:hover, .btn-No:hover {
    height: 4.5rem;
    width: 7.5rem;
    opacity: 0.7;
}
#closeOrderConfirmedModalBtn{
    width: 9rem;
}
#closeOrderConfirmedModalBtn:hover{
    width: 9.5rem;
    height: 4.5rem;
}

/**Puntos de venta**/
.contendor-punto-venta {
    display: grid;
    grid-template-columns: 1fr; /* Por defecto, una columna para dispositivos pequeños */
    gap: 20px; /* Espacio entre columnas */
}
.contendor-informacion{
    padding-top: 0px;
    padding-left: 30px;
}
.contendor-informacion,
.contenedor-mapa,
.contenedor-mapa2{
    width: 100%; /* Ocupan el 100% del ancho por defecto */
}
.contenedor-mapa2 {
    display: none;
    text-align: center; /* Centra el contenido horizontalmente */
}
.parrafo-grande {
    font-size: 2rem;
    word-wrap: break-word; /* Permite dividir palabras largas */
    overflow-wrap: break-word; /* Controla el comportamiento de división de palabras */
}
.alinear-verticalmente {
    display: flex;
    align-items: center;
    height: auto;
}
.alinear-verticalmente p{
    padding-left: 5px;
} 
.horarios {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: transparent;
    box-shadow: none;
    overflow-x: auto; 
}
table {
    width: auto;
    border-collapse: collapse;
    border: none;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
/* Media Query para dispositivos con ancho mínimo de 768px */
@media (min-width: 768px) {
    .contendor-punto-venta {
        grid-template-columns: 1fr 1fr; /* Dos columnas cuando el ancho es al menos 768px */
    }
    .contenedor-mapa {
        display: none;
    }
    .contenedor-mapa2 {
        display: block;
    }
    .contenedor-mapa2 iframe {
        margin: 0 auto; /* Centra el iframe dentro de contenedor-mapa2 */
    }
}

/**Blog**/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding-left: 8rem;
}
.item {
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .item p {
    text-align: left; /* Ajustar el texto a la izquierda */
  }
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}
  

/** Contacto **/
.titulo-gris{
    color: var(--gris3);
}
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
.formulario {
    background: rgb(13,65,118);
    background: linear-gradient(90deg, rgba(13,65,118,1) 0%, rgba(247,6,114,0.5634628851540616) 100%);
    width: min( 60rem, 100% );
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
    height: auto;
}
.formulario fieldset {
    border: none;
}
.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--blanco);
}
@media (min-width: 768px) {
    .formulario {
        height: auto;
    }
}
@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        column-gap: 1rem;
    }
    .campo:nth-child(3),
    .campo:nth-child(4),
    .campo:nth-child(5) {
        grid-column: 1 / 3;
    }
}
.campo {
    margin-bottom: 1rem;
}
.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.campo textarea {
    height: 10rem;
    resize: none;
}
.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
.btn-enviar{
    font-size: 20px;
    color: var(--blanco);
    background-color: var(--rosa);
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    opacity: 1;
    transition: color 0.5s ease, font-size 0.3s ease; 
}
.btn-enviar:hover{
    width: 110px;
    height: 50px;
    opacity: 0.7;
}

/** Inicio de sesion y crear cuenta**/
.heigt-custom{
    height: 40px;
}
.btn-custom{
    background-color: var(--morado);
    border: none;
    color: white;
    height: 30px;
    border-radius: 20px;
}
.btn-custom:hover{
    opacity: 0.9;
}
.titulo-color{
    font-weight: bold;
    color: var(--morado);
    margin-top: 30px;
}
.divBtns{
    padding-bottom: 10px;
}
@media (min-width: 768px) {
    .login {
        display: block; 
    }
    .campo {
        width: 100%; 
    }
}
.txtBlanco{
    color: var(--blanco);
}
.negrita{
    color: var(--rosa);
    font-weight: bold;
}
.captcha{
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn-enviar-crear-cuenta{
    width: 180px;
}
.btn-enviar-crear-cuenta:hover{
    width: 200px;
}
.btns{
    font-size: 20px;
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    margin: 1rem;
    cursor: pointer;
    transition: color 0.5s ease, background-color 0.5s ease;
    border: 2px solid var(--rosa);
    text-decoration: none;
}
.btn-activo{
    background-color: var(--rosa);
    color: white;
}
.btn-inactivo{
    background-color: white;
    color: var(--rosa);
}
.rosa-txt{
    color: var(--rosa);
}