{% extends "baseAdministrador.html" %}

{% load static %}

{% block tituloAdministrador %}
  <title>Clientes</title>
{% endblock %}

{% block contenidoAdmin %}
<div class="pagetitle">
  <h1>Clientes</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'administrador' %}">Administrador</a></li>
        <li class="breadcrumb-item">Clientes</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<div class="card">
  <div class="card-body">
    <br>
    <a class="btn-morado rounded-pill" href="{% url 'clienteCreate' %}">Nuevo Cliente</a> <br><br><br>

    {% if clientes %}
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Nombre Completo</th>
            <th scope="col">Correo Electrónico</th>
            <th scope="col">Número de Teléfono</th>
            <th scope="col">Historial</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for item in clientes %}
          <tr>
            <td>{{ item.nombre }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.telefono }}</td>
            <td>
              <a class="btn btn-warning rounded-pill" href="{% url 'pedidosCliente' item.id %}">Pedidos</a>
              <a class="btn btn-success rounded-pill" href="{% url 'ventasCliente' item.id %}">Ventas</a>
            </td>
            <td>
              <a class="btn btn-secondary rounded-pill" href="{% url 'clienteUpdate' item.id %}">Editar</a>
              <a class="btn btn-danger rounded-pill" href="{% url 'clienteDelete' item.id %}">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
      <h1 class="titulo-azul">Aún no Hay Clientes Registrados!</h1>
    {% endif %}
  </div>
</div>
{% endblock %}



