{% extends "baseAdministrador.html" %}

{% load static %}

{% block tituloAdministrador %}
  <title>Pedidos</title>
{% endblock %}

{% block contenidoAdmin %}
<div class="pagetitle">
  <h1>Pedidos</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'administrador' %}">Administrador</a></li>
        <li class="breadcrumb-item">Pedidos</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<div class="card">
  <div class="card-body">
    <br>
    <a class="btn-morado rounded-pill" href="{% url 'pedidoCreate' %}">Nuevo Pedido</a> <br><br><br>

    {% if pedidos %}
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">ID Pedido</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Fecha (Pedido)</th>
            <th scope="col">Lugar de Entrega</th>
            <th scope="col">Fecha (Entrega)</th>
            <th scope="col">Hora (Entrega)</th>
            <th scope="col">Estado</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for item in pedidos %}
          <tr>
            <td>{{ item.clave }}</td>
            <td>{{ item.producto.nombre }}</td>
            <td>{{ item.cantidad }}</td>
            <td>{{ item.fechaEntrega }}</td>
            <td>{{ item.lugarEntrega }}</td>
            <td>{{ item.fechaEntrega }}</td>
            <td>{{ item.horaEntrega }}</td>
            <td>{{ item.estado }}</td>
            <td>
              <a class="btn btn-secondary rounded-pill" href="{% url 'pedidoUpdate' item.id %}">Editar</a>
              <a class="btn btn-danger rounded-pill" href="{% url 'pedidoDelete' item.id %}">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
      <h1 class="titulo-azul">Aún no Hay Pedidos Registrados!</h1>
    {% endif %}
  </div>
</div>
{% endblock %}