{% extends "baseAdministrador.html" %}

{% load static %}

{% block tituloAdministrador %}
  <title>Productos</title>
{% endblock %}

{% block contenidoAdmin %}
<div class="pagetitle">
  <h1>Productos</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'administrador' %}">Administrador</a></li>
        <li class="breadcrumb-item">Productos</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<div class="card">
  <div class="card-body">
    <br>

    <a class="btn-morado rounded-pill" href="#">Nuevo Producto</a> <br><br><br>

    {% if productos %}
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for item in productos %}
          <tr>
            <td>{{item.nombre}}</td>
            <td>{{item.descripcion}}</td>
            <td>{{item.precio}}</td>
            <td>{{item.stock}}</td>
            <td>
              <a class="btn btn-secondary rounded-pill" href="#">Editar</a>
              <a class="btn btn-danger rounded-pill" href="#">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
      <h1 class="titulo-azul">Aún no Hay Productos Registrados!</h1>
    {% endif %}
  </div>
</div>
{% endblock %}



