{% extends "baseAdministrador.html" %}

{% load static %}

{% block tituloAdministrador %}
  <title>Ventas</title>
{% endblock %}

{% block contenidoAdmin %}
<div class="pagetitle">
  <h1>Ventas</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'administrador' %}">Administrador</a></li>
        <li class="breadcrumb-item">Ventas</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<div class="card">
  <div class="card-body">
    <br>


    {% if ventas %}
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">ID Pedido</th>
            <th scope="col">Importe Total</th>
            <th scope="col">Cuotas (Total)</th>
            <th scope="col">Cuotas (Restante)</th>
            <th scope="col">Importe (Pagado)</th>
            <th scope="col">Importe (Restante)</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for item in ventas %}
          <tr>
            <td>{{item.clave}}</td>
            <td>{{item.importeTotal}}</td>
            <td>{{item.cuotas}}</td>
            <td>{{item.cuotasRestantes}}</td>
            <td>{{item.importePagado}}</td>
            <td>{{item.importeRestante}}</td>
            <td>
              <a class="btn btn-warning rounded-pill" href="#">Sumar Pago</a>
              <a class="btn btn-success rounded-pill" href="#">Pago Completo</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
      <h1 class="titulo-azul">Aún no Hay Ventas Registradas!</h1>
    {% endif %}
  </div>
</div>
{% endblock %}